/* ProgressBar.css */
.custom-stepper {
  width: 100%;
}
.progress-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.progress-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%; /* Adjust the width as needed */
}

.step {
  width: 35px;
  height: 35px;
  border: 1px solid rgb(45, 45, 45);
  background-color: rgb(21, 22, 25);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1rem;
  transition: background-color 0.3s ease;
  position: relative;
}

.step.active {
  background-color: rgb(21, 22, 25); /* Change the active step color */
  color: #dffe00;
  border-color: #dffe00;
}

.line {
  flex-grow: 1;
  height: 3px;
  background-color: rgb(21, 22, 25); /* Default line color */
  margin: 0 -5px; /* Adjust the margin as needed */
  transition: background-color 0.3s ease;
}

.line.active {
  background-color: #dffe00; /* Change line color when active */
}

/* ... Other styles ... */
.step_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}
.step_1 > p {
  text-align: center;
}
.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}

.connect-btn-wallet-div {
  margin-top: 30px;
}
.wallet-address-div {
  width: 100%;
}
.wallet-address-div > input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(45, 45, 45);
  background-color: rgb(21, 22, 25);
  box-shadow: none;
  color: white;
  font-size: large;
  border-radius: 8px;
}
.tweet-input-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
}
.tweet-input {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.tweet-input > input {
  flex: 1;
  padding: 10px;
  border: 1px solid rgb(45, 45, 45);
  background-color: rgb(21, 22, 25);
  box-shadow: none;
  color: white;
  font-size: large;
  border-radius: 8px;
}
.claim-faucet {
  padding: 10px;
  cursor: pointer;
  border: 1px solid rgb(45, 45, 45);
  background-color: rgb(21, 22, 25);
  color: #dffe00;
  border-radius: 8px;
  font-size: large;
  font-weight: 700;
  font-family: "Chakra Petch", sans-serif;
  text-transform: uppercase;
}
.claim-faucet.disabled {
  pointer-events: none;
}
.claim-faucet:hover {
  border-color: #dffe00;
}
.button-container button {
  padding: 8px 15px;
  border: 1px solid rgb(45, 45, 45);
  background-color: rgb(21, 22, 25);
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
.button-container button:hover {
  border-color: #dffe00;
}
.button-container button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.button-container button:disabled:hover {
  border-color: rgb(45, 45, 45);
}
.tweet_link {
  cursor: pointer;
  color: #dffe00;
  text-decoration: underline;
  text-underline-offset: 8px;
  transition: all 0.2s ease;
}
.tweet_link:hover {
  transform: translateY(-2px);
}

.err_msg_div {
  border: 1px solid rgb(45, 45, 45);
  background-color: rgb(21, 22, 25);
  padding: 30px;
  margin: 30px 0;
  border-radius: 8px;
}
p.error_msg {
  color: rgb(242, 104, 91);
  border-left: 2px solid rgb(242, 104, 91);
  padding-left: 10px;
}
p.tx_hash a {
  color: #dffe00;
  text-underline-offset: 4px;
}
p.message {
  text-align: center;
  padding: 10px;
  color: #dffe00;
  border-radius: 8px;
  font-size: large;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: "Chakra Petch", sans-serif;
  text-transform: uppercase;
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  border-top: 1px solid rgb(45, 45, 45);
}
